@model Cleaner

@{
    Layout = "_Layout";
}
<section>
    <div class="back-ground-about">
        <div class="row">
            <div class="col-lg-6 p-5">
                <img class="photo" src="~/images/Banner-01.jpg" />
            </div>
            <div class="col-lg-6">
                <h2 class="text-center text-white">About Us</h2>
                <br /> <br />

                <p id="pa">
                    Our business seeks customer satisfaction providing a fast and customizable ordering
                    system for specialized cleaning service. In contrast to the actual market scenario, our business
                    will implement an ordering service which take few minutes to process and to get a customizable
                    service defined by the client. The improvement of reduce ordering time and speed the process to
                    guarantee of delivery this service will be a top notch in this market.<br />
                    <b>Our Service provide:</b>
                    An option to any client to book an emergency cleaning service or a scheduled cleaning service.
                    Acceptance of certified employees to enroll as part of employee team.
                    A reduction of processing time in half compared with other competitors.
                </p>
            </div>
        </div>
    </div>
</section>
