@model Cleaner

@{
    Layout = "_Layout";
}
<section>
    <div class="back-ground-policy">
        <div class="row">
            <div class="col-lg-6 p-5">
    
                <img class="photo2" src="~/images/Banner-00.jpg" />
               
            </div>
            <div class="col-lg-6">
                <h2 class="text-center text-white">Company Policy</h2>
                <br />
                <p id="pa">
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum 
                    ortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. 
                    Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
                    Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt 
                    condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis
                    Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus

                </p>
            </div>
        </div>
    </div>
</section>