<section id="emergencypage">
    <div class="rowa">

            <h1>Emergency Service</h1>
            <p>
                Our Emergency service cleaner provides a very fast and quality of services<br />
                first, you have to pick one of the locations in the dropdown area,<br />
                then you select how long you need a cleaner, and you will see the total price<br />
                of the service and go to your locations as soon as possible
            </p>
            <form id="AddLocation">
                <fieldset>
                    <legend>Select Location</legend>
                    <label>Location</label>
                    <select id="myList" required>
                        <option value="1">Downtown</option>
                        <option value="2">North York</option>
                        <option value="3">East York</option>
                        <option value="4">Etobicoke</option>
                        <option value="5">Scarborough</option>
                    </select>
                    <br />
                    <button class="button" type="submit">Booking</button>

                </fieldset>
            </form>

        </div>
    </div>

</section>
