
@{ 
    Layout = "_Layout";
}
<section id="mainpage">
    <p>Place the main banner here</p>
</section>

<section id="aboutus">
    <p>About us content</p>
</section>
 
<section id="features">

    <div class="justify-content-center">
        <h1>List of Service</h1>
        <br /><br />
    </div>

    <div class="row">

        <div class="col-lg-6">
            <h3>
                <a href="/Emergency/ServiceDetail"><i class="fas fa-ambulance fa-4x"></i></a>
                <br /><b>Emergency Service</b>
            </h3>
            <p class="p1">We are ready to help you, request your service now.</p>
        </div>
        <div class="col-lg-6">
            <h3>
                <a href="/Booking/ServiceDetail"><i class="far fa-calendar-alt fa-4x"></i></a>
                <br /><b>Booking service</b>
            </h3>
            <p class="p1">Book your cleaner service in the day that you wish.</p>
        </div>
    </div>

</section>

<section id="contactus">
    <p>Contact us content</p>
</section>

