@model Cleaner

@{
    Layout = "_Layout";
}
<link href="~/css/StyleSheet.css" rel="stylesheet" />
<section id="mainpage">
    <div class="back-ground">
        <div class="header">
            <div class="header">
                <h2 class="header">OnClick Cleaner</h2>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-lg-6">
                        <h3>
                            <br /><b>Welcome @Model.FirstName</b>
                        </h3>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section id="features">
    <div class="justify-content-center">
        <h1>List of Service</h1>
        <br /><br />
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h3>
                <a href="/Emergency/ServiceDetail"><i class="fas fa-ambulance fa-4x"></i></a>
                <br /><b>Emergency Service</b>
            </h3>
            <p class="p1">We are ready to help you, request your service now.</p>
        </div>
        <div class="col-lg-6">
            <h3>
                <a href="/Booking/ServiceDetail"><i class="far fa-calendar-alt fa-4x"></i></a>
                <br /><b>Booking service</b>
            </h3>
            <p class="p1">Book your cleaner service in the day that you wish.</p>
        </div>
    </div>

</section>
<section>
    <div class="back-ground-contact">
        <div class="row">
            <div class="col-lg-6 p-3">
                <img id="img" src="~/images/contact.JPG" />
            </div>
            <div class="col-lg-6">
                <h2 class="header-cont">Contact Us</h2>
                <h4 class="p-lg-2 text-white"><b>Mailling Address</b></h4>
                <p class="p-lg-2 text-white">123 Anywhere St, Toronto, Ontario</p>
                <h4 class="p-lg-2 text-white">Email Address:</h4>
                <p class="p-lg-2 text-white">onclickcleaner@mycentennialcollege.ca</p>
                <h4 class="p-lg-2 text-white">Phone Number</h4>
                <p class="p-lg-2 text-white">(416) 289-5000</p>
            </div>
        </div>
    </div>
</section>
