@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Cleaners</title>
</head>
<body>
    <h1>Hello Cleaners</h1>
    <h2>Luana </h2>
    </body>
</html>