
 
<section id="features">
    <div class="row">

            <div class="col-lg-6">
                <h3> <i class="fas fa-ambulance fa-4x"></i><br /><b>Emergency Service</b></h3>
              <p class="p1">We are ready to help you, request your service now.</p>
            </div>
            <div class="col-lg-6">
                <h3>
                    <i class="far fa-calendar-alt fa-4x"></i>
                    <br /><b>Booking service</b>
                </h3>
                <p class="p1">Book your cleaner service in the day that you wish.</p>
            </div>
        </div>

</section>

