@model Order
<section id="emergencypage">
    <div class="rowa">
        <section id="features">
            <div class="justify-content-center">
                <h2><img id="ambulance_emrgency" src="~/images/ambulance.png" /> Emergency Service</h2>
                <br />
            </div>
            <div class="justify-content-start">
                <p>
                    Our Emergency service cleaner provides a very fast and quality of services<br />
                    first, you have to pick one of the locations in the dropdown area,<br />
                    then you select how long you need a cleaner, and you will see the total price<br />
                    of the service and go to your locations as soon as possible
                </p>
            </div>
        </section>
        <section id="form">
            <div class="justify-content-center">
                <form method="post" asp-action="CustomerInfo">
                    <fieldset>
                        <legend>Select Location</legend>
                        <label>Location</label>
                        <select id="myList" asp-for="Location" required>
                            <option value=""></option>
                            <option value="Toronto">Toronto</option>
                            <option value="York">York</option>
                            <option value="Durkham">Durkham</option>
                            <option value="Peel">Peel</option>
                            <option value="Halton">Halton</option>
                        </select>
                        <br />
                        <button class="button" type="submit">Continue</button>

                    </fieldset>
                </form>
            </div>
        </section>
    </div>
</section>