#mainpage {
    background-color: #4e89ae;
    text-align: center;
    font-size: 50px;
}
.navbar {
    font-size: 1.5em;
    text-align:center;
    margin:auto;
}


li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: white;
        }
.active {
    background-color: #9ddef9;
}

#aboutus {
    background-color: #4e89ae;
    text-align: center;
    font-size: 50px;
}

#features {
    width: 100%;
    height: 700px;
    font-size: 1.5rem;
    text-align: center;
    padding: 5em;
    color: #4e89ae;
}



.fa-ambulance {
    margin: 5% 15%;
    color: #ea5455;
    text-align: center;
}

    .fa-ambulance:hover {
        color: #decdc3;
    }

.fa-calendar-alt {
    margin: 5% 15%;
    color: #2d4059;
    text-align: center;
}

    .fa-calendar-alt:hover {
        color: #decdc3;
    }

h3 {
    font-family: "Montserrat-bold";
    text-align: center;
    /*color:black;*/
}

.p1 {
    width: 85%;
    text-align: center;
    margin-left: 8%;
    color: #8f8f8f;
}
#form {
    font-size: 1.5rem;
    text-align: center;
    padding: 2em;
    color: black;
    text-align: left;
    padding: 15px;
    text-align: center;
    background: rgba(56, 135, 152, 0.50);
}

#ambulance_emrgency {
    width: 100px;
    height: 100px;
}

.button {
    display: none;
}

img:hover + .button {
    display: inline-block;
}

/*Nav bar*/
.back-ground {
    width: 100%;
    height: 550px;
    background-color: black;
    margin: 0 auto;
    background-image: url(/images/cleaner-0.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.transbox {
    width: 800px;
    height: 800px;
    background-color: rgba(255,255,255,0.85);
    margin: 0 auto;
}

.col-md-8 {
    margin: 0 auto;
}

.control-lable {
    margin: 0 auto;
}

.control-label col-sm-6 {
    width: 100%;
}

.form-control {
    width: 474px;
    height: 40px;
    border-color: white;
    background-color: #2ca7bc;
}

.header{
    color:white;
    text-align:center;
    padding:50px;
    font-size:5rem;
    height:inherit;
}

/*Contact us*/

.back-ground-contact {
    padding: 50px;
    width: 100%;
    height: 600px;
    background-color: black;
    margin: 0 auto;
    background-color: #4e89ae;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
img {
    padding-top:5%;
    width: 60%;

}
#contactus {
    text-align: right;
    font-size: 20px;
}
.header-cont {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 3rem;
    height: inherit;
}
/*About us*/

.back-ground-about {

    padding: 50px;
    width: 100%;
    background-color: black;
    margin: 0 auto;
    background-color: #4e89ae;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.photo {    
    width: 100%;
}

#pa {
    color:white;
    font-family:Arial;
    text-indent: 30px;
    text-align: justify;
    letter-spacing: 3px;
    line-height: 1cm;
    padding: 15px;
}
.back-ground-policy {
    height: 700px;
    padding: 50px;
    width: 100%;
    background-color: black;
    margin: 0 auto;
    background-color: #4e89ae;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.photo2 {
    width: 100%;
}