#mainpage {
    background-color: #4e89ae;
    text-align: center;
    font-size: 50px;
}

#aboutus {
    background-color: #4e89ae;
    text-align: center;
    font-size: 50px;
}

#features {
    font-size: 1.5rem;
    text-align: center;
    padding: 2em;
    color: #4e89ae;
}

#contactus {
    background-color: #4e89ae;
    text-align: center;
    font-size: 50px;
}


.fa-ambulance {
    margin: 5% 15%;
    color: #ea5455;
    text-align: center;
}

    .fa-ambulance:hover {
        color: #decdc3;
    }

.fa-calendar-alt {
    margin: 5% 15%;
    color: #2d4059;
    text-align: center;
}

    .fa-calendar-alt:hover {
        color: #decdc3;
    }

h3 {
    font-family: "Montserrat-bold";
    text-align: center;
    /*color:black;*/
}

.p1 {
    width: 85%;
    text-align: center;
    margin-left: 8%;
    color: #8f8f8f;
}
#form {
    font-size: 1.5rem;
    text-align: center;
    padding: 2em;
    color: black;
    text-align: left;
    padding: 15px;
    text-align: center;
    background: rgba(56, 135, 152, 0.50);
}

#ambulance_emrgency {
    width: 100px;
    height: 100px;
}



