@model Order
<link href="~/css/selectCleaner.css" rel="stylesheet" />

<section class="our-webcoderskull padding-lg">
    <div class="container">
        <div class="row heading heading-icon m-5 p-5">
            <h2 class="card">THANK YOU FOR YOUR ORDER!</h2>
        </div>
    </div>
    <div class="justify-content-center m-md-5 ">
        <form asp-action="SelectingCleaner" method="post">
            <a class="btn btn btn-info col-lg-12 " href="/Home/Index">New Service</a>
            <br />
        </form>
    </div>
</section>
