<link rel="stylesheet" href="css/Booking.css">

@model Customer

<p>THANK YOU FOR YOUR ORDER!</p>

<div class="container">
    <h1> Booking Form Duration (FORM HERE)</h1>
    <form method="post">


        <div class="center2">
            <p class="btn-light col-lg-12 font-weight-bold " id="result">
                Price: 
            </p>
        </div>


    </form>
</div>