<link rel="stylesheet" href="css/Booking.css">

@model Customer

    <p>THANK YOU FOR YOUR ORDER!</p>

    <div class="container">
        <h1> Customer Contact Information (FORM HERE)</h1>
        @*<form method="post">

        </form>*@
    </div>