<section id="bookingpage">
    <div class="col-lg-12">

        <div class="col-lg-6">

            <div class="justify-content-lg-start">
                <h2><i class="far fa-calendar-alt fa-3x"></i>Booking Service</h2>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="justify-content-start">
                <p class="font-weight-normal">
                    Our Booking service cleaner provides a high quality of service,<br />
                    first, you have to pick one of the locations in the Dropdown area,<br />
                    then you pick how long you need a cleaner. After that,<br />
                    you choose the day and we will provide the total Price for the service<br />

                </p>
            </div>
        </div>
        <br />
        </div>
</section>