<section id="bookingpage">
    <div class="col-lg-12">

        <div class="col-lg-6">

            <div class="justify-content-lg-start">
                <h2><i class="far fa-calendar-alt fa-3x"></i>Booking Service</h2>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="justify-content-start">
                <p class="font-weight-normal">
                    Our Emergency service cleaner provides a very fast and quality of services<br />
                    first, you have to pick one of the locations in the dropdown area,<br />
                    then you select how long you need a cleaner, and you will see the total price<br />
                    of the service and go to your locations as soon as possible
                </p>
            </div>
        </div>
        <br />
        </div>
</section>