
<link href="~/css/selectCleaner.css" rel="stylesheet" />

<section class="our-webcoderskull padding-lg">
    <div class="container">
        <div class="row heading heading-icon m-5 p-5">
            <h2 class="card">Sorry, there are no cleaners available. Choose another Service</h2>
        </div>
    </div>
    <div class="fig p-4">
<<<<<<< HEAD
        <form asp-action="SelectingCleaner" method="post">
            <a class="btn btn btn-info col-lg-12" asp-action="ServiceDetail">Set New Parameters</a>
            <br />
        </form>
    </div>
</section>
=======
        <form asp-action="ServiceDetail" method="post">
            <a class="btn btn btn-info col-lg-12" asp-action="ServiceDetail">No Cleaners availables. Please Set New Parameters or Try Later</a>
            <br />
        </form>
    </div>
</section>


>>>>>>> US11
